/* cards */

.card-list{
    padding: 0;
    margin: 0;
    color:var(--lightColor);
    text-align: unset;
    display: flex;
    padding: 5rem;
    flex-grow: 1;
    background-image: url(../images/cloud-sky.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.cardlist, p{
    color:var(--darkestColor) ;
}
.profile-position{
    font-size: 1.5rem;
} 
.card{
    display: flex;
    /* position: relative; */
    flex-direction: column;
    min-width: 200px;
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--mediumColor);
    opacity: 90%;
    box-shadow: -2rem 0 7rem var(--darkColor);
    text-align: center;
    transition: .5s;
}
.profile-name{
    font-size: 1.5em;
    font-family: 'Englebert', sans-serif;
}
img.profile-image{
    border-radius: 50%;
    opacity: 100%;
}
.profil-body{
    max-height: 500px;
    max-width: 20%;   
}



/* scrollbar options  */

/* .card-list::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb{
    background: #a4334b;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px gray;
}
.card-list::-webkit-scrollbar-track{
    background: linear-gradient(90deg, rgba(164,51,75,1) 0%, rgba(195,102,120,1) 35%, rgba(223,165,176,1) 100%);
} */


/* card reactions */

.card:hover{
    transform: translateY(-2rem);
    transform: scale(1.1);
    opacity: 100%;
    
}
.card:hover~.card{
    transform: translateX(55px);
    
}

.card:not(:first-child){
    margin-left: -70px;
}  
.card:active{
    transform: scale(1.2);
}
/* Media responsive powa */

@media (max-width:880px){
    .card {
        margin: 0;
        /* max-height: 350px; */
        transform: translateY(10px);
    }
    .card-list {
        display:list-item ;
        padding-left: 0 ;
        height: auto;

    }
    .card:hover{
        transform: translateX(7%);
    }
    .card:hover~.card{
        transform: translateY(0px);
    }
    .card:not(:first-child){
        margin-left: 0px;
    }
    .profile-main h3,
    .profile-main p
     {
        text-align: center;
        margin-left: 15px;
        /* font-size: .8em; */

    }
    
    
    .profile-sidebar{
        padding-top: 30px;
    }
    .profile-sidebar div{
        max-height: 70px;
    }
    img.profile-image{
        width: 100px;
        height: 100px;
    }
    
}



/* var(--darkColor): #a4334b;
var(--mediumColor): #c36678;
var(--lightColor): #dfa5b0; */