  form {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 1rem;
    max-width: 25%;
  }
  
  form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  form label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }
  
  form select {
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--HoverElement);
    font-weight: 700;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: white;
  }
  
  form input:focus {
    outline: none;
  }
  
  form #submit {
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    margin: 0.5rem auto;
    margin-top: 1rem;
    transition: 0.4s;
  }
  
  /* hover : permet de faire un changement au passage de la souris */
  form #submit:hover {
    background-color: var(--Color);
    color: var(--lightColor);
  }
  
  .main-cards {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
  }
  
  .Card {
    display: flex;
    align-items: center;
    background-color: var(--LightGrayishBlueBgElement);
    box-shadow: 0 3px 3px var(--BoxShadow);
    border-radius: 0 0 5px 5px;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1rem;
    max-width: 100%;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    text-align: center;
    transition: 0.4s;
  }
  
  /* Rotation */
  .card div img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .Card div:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  
  @media (max-width: 700px) {
    form {
       max-width: 100%;
    }