/* For the font : 

.element {
    font-family: 'Lato', sans-serif;

}*/


/* For the colors */
:root {
  --darkColor: #2695BA;
  --mediumColor: #66C2E1;
  --lightColor: #EEF8FC;
  --darkestColor: #0A2933 ;
}

/* Main elements of the page */

html {
  height: 100%;
  min-width: 300px;
}



body {
  background-color: var(--lightColor);
  color: var(--darkColor);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.bg {
  width: 100%;
  height: 100%;
  background-image: url(../images/cloud-sky.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1,
p {
  text-align: center;
}

a {
  text-decoration: none;
}
.logo-button{
  margin: 0;
  padding: 0;
  float: left;
  display:block;
}

/* Footer code */

footer {
  align-items: center;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--darkColor);
  color: white;
}

footer img {
  margin-left: 0.5rem;
  max-width: 70px;
}
footer span {
  margin: 0 0.2rem;
  font-weight: 700;
}


/* Top 5 trips cards */

.content {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.toptrips {
  margin: 10px;
  max-width: 28%;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.2s ease;
}


.toptrips:hover {
  width: 30%;
  height: 700px;
}


.toptrips .city-picture img{
  /* display: inline-block; */
  margin: 22% 22%;
  border-radius: 3px;
  object-fit: contain;
}

.toptrips .city-picture{
  width: 100%;
  height: 60%;
  background:var(--darkestColor);
}

.toptrips .city-name{
  width: 100%;
  height: 10%;
  background: var(--lightColor);
  color: var(--darkestColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.toptrips .city-description {
  width: 100%;
  height: 40%;
  background: var(--darkColor);
  color: var(--lightColor);
  font-weight: bold;
}

/* Menu Burger Code (only for mobile mode) */


header {
  width: 100%;
  display: inline-block;
  background-color: var(--darkColor);
  font-family: 'Englebert', sans-serif;
  font-size: 1.5rem;
  /* position: fixed; */
}

.hamburger {
  height: 20px;
  width: 20px;
  padding: 20px;
  float: right;
  cursor: pointer;
}
.hamburger:before {
  content: "";
  display: block;
  background-color: var(--lightColor);
  width: 100%;
  height: 4px;
}
.hamburger:after {
  content: "";
  display: block;
  background-color: var(--lightColor);
  width: 100%;
  height: 4px;
  margin-top: 4px;
  box-shadow: 0px 8px 0 #f3f3f3;
}

nav {
  background-color: var(--mediumColor);
  margin: 0;
  max-height: 0;
  overflow: hidden;
  clear: both;
  transition: max-height 0.3s cubic-bezier(0.63, 0, 0.25, 1);
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
nav li {
  display: block;
  margin: 0;
  text-align: center;
}
nav a {
  color: var(--lightColor);
  display: block;
  padding: 0.2em;
}

header input[type="checkbox"]:checked ~ nav {
  max-height: 150px;
  /* border-bottom: var(--darkestColor) 5px solid; */
}


/* Change of color when hovering the nav elements */

header a:hover,
header a:focus,
header label:hover,
header label:focus {
  background-color: var(--mediumColor);
}

/* Display of the burger set to None when not in mobile mode  */
@media (min-width: 700px) {
  header{
    display: flex;
    align-items: flex-start;
  }
  .hamburger {
    display: none;
  }
  nav {
    background: transparent;
    border: 0 !important;
    max-height: none;
    width: auto;
   
    
  }
  nav ul,
  nav li,
  nav li a {
    display: inline-block;
    
  }
  nav a {
    padding: 15px .5em;
  }
}

.hidden {
  position: fixed;
  top: -100%;
  left: -100%;
}
.logo-button{
  float: left;
  width: auto;
}