.picturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picturesContainer img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.picturesContainer h2 {
  display: block;
  margin-bottom: 5px;
}
