.picturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: var(--lightColor);
  padding: 0px 0px;
  margin: 1.9rem;
  margin-top: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  width: 500px;
  min-height: 660px;
  max-height: 750px;
}

.picturesContainer img {
  width: 380px;
  height: 200px;
  border-radius: 20px;
  margin: 0px 0px;
}

.picturesContainer:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.picturesContainer h2 {
  display: block;
  margin-bottom: 5px;
  color: var(--darkColor);
  margin-top: 2px;
}
.picturesContainer p{
  padding-left : 8px;
  padding-right : 8px;
  flex-grow: 1;
  
}

.tripPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: url(../images/cloud-sky.gif);
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.form-trip-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.tripPageDescription {
  width: 100%;
  font-family: 'Englebert', sans-serif;
  color: --var(--lightColor);
  padding: 20px;
  line-height: 30px;
  animation: fadeInLeft;
  animation-duration: 2s;
}

.tripPageDescription a {
  display: contents;
}
.tripPageDescription{
  color: var(--lightColor);
}

.descriptionParagraph {
  font-style: italic;
  font-size: small;
  color: var(--darkColor);
  
}


@media (max-width: 800px) {
  .picturesContainer img {
    width: 250px;
    height: 125px;
    border-radius: 20px;
    margin: 0px 0px;
  }
  

  .picturesContainer {
    margin: 15px 15px;
    width: 87%;
  }

  .picturesContainer:active {
    transform: scaleY(1.0);
  }

  /* .tripPageDescription {
    font-size: small;
    line-height: 15px;
  } */
}



